Django
djangorestframework
psycopg2-binary
django-cors-headers
djangorestframework-simplejwt
pillow
django-filter
python-dotenv
django-simple-history
drf-spectacular
requests
djangorestframework-simplejwt[crypto]
celery
celery[redis]
redis
gunicorn